body {
    padding: 2em;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
    background: #eee;
    display: flex;
}

.content {
    background: white;
    border: 1px solid #eee;
    padding: 2em;
}

.sidebar {
  background: #eee;
  outline: 1px solid #aaa;
  width: 14rem;
  padding: 2em;
}

